google-cloud-aiplatform[adk,agent_engines]==1.95.1
langchain-google-vertexai==2.0.24
langchain==0.3.25
langchain-core==0.3.63
langchain-community==0.3.24
langchain-google-community==2.0.7
pydantic==2.11.5
cloudpickle==3.1.1 